
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}


// Custom Doba syntaxis hilighting color variables

// basic
$background: #444340;
$text: #EDE0CE;


// key words //

// class, func, if/else
$basickey: #39B81F; //green

// comments
$comment: #7A7267;

// error
$error: #D63131; //red

// func names/ strings
$str: #E9D925; //yellow

// @var, @param
$param: #BDAE9A; //mocha

// operators (=,===,-> etc.)
$oper: #39B81F;

// dom nodes
$dom: #58D367;
